/* General Styles */
.app-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.app-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

/* Grid container for responsive layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}

/* Box for each cipher section */
.cifrado-box {
  background-color: #f0f4f8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Input styling */
.input-container {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

/* Button styling */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 5px 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

.icon {
  margin-right: 5px;
}

/* Styling for the results section */
.resultado {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.resultado h3 {
  margin-right: 10px;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .input-field {
      font-size: 14px;
  }

  .btn {
      font-size: 14px;
      padding: 8px 16px;
  }

  .app-title {
      font-size: 1.5rem;
  }

  .resultado {
      flex-direction: column;
      align-items: flex-start;
  }

  .resultado h3 {
      margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .btn {
      font-size: 12px;
      padding: 6px 12px;
  }

  .input-field {
      font-size: 12px;
  }
}
body{
  background-color:cornflowerblue;
} 
h1{
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}